/* css styling   */

* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Style for my header */
  header {
    background-color: rgb(5, 37, 143);
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
  }
  
  /* style for my navigtaion  */
  nav {
    float: left;
    width: 15%;

    background: #ccc;
    padding: 20px;
  }

/* a new H3 style*/
  h3 {
    text-align: center;
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  tasks {
    float: left;
    padding: 20px;
    width: 85%;
        
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style my footer area  */
  footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
  }
  
  /* Responsive layout from w3s schools  */
  @media (max-width: 600px) {
    nav, tasks {
      width: 100%;
      height: auto;
    }
  }