<!DOCTYPE html>
<html lang="en">
<head>
<title>Brendan Tasks home</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- js import -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- link to my stylesheet and bootstrap css  -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="../mystyle.css">

</head>
<body>
<header>
  <h2>Brendans Super Tasks</h2>
</header>
<!--my section div -->
<section>
  <!--my side navigation -->
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/task.html">Open Tasks</a></li>
      <li><a href="gmailapi.html">Tasks Email API</a></li>
      <li><a href="project.html">Project overview</a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="http://brenbiz.eu.pythonanywhere.com/">Python Anywhere</a></li>

    </ul>
  </nav>
  
  <tasks>
    
<p>This is index.html</p>

<p>Welcome to Brendans Super tasks - im a busy man !!!</p>
<p>Select an option from the menu on the left</p>

<p><a href="http://brenbiz.eu.pythonanywhere.com/">Link to my Python Anywhere</a></p>


  </tasks>
</section>

<footer>
  <p>(c) Brendan Ryan GMIT</p>
</footer>

<!--js any scripts go here -->
<script>
    
</script>
</body>
</html>