<!DOCTYPE html>
<html lang="en">
<head>
<title>Brendan Tasks home</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<link rel="stylesheet" href="../mystyle.css">


</head>
<body>
<header>
  <h2>Brendans Super Tasks</h2>
</header>

<section>
<h3>This is login - hello!!

  Click here to login <li><a href="/processlogin">Login</a></li>
  
  At the minute no credentials are required but you do need to pass through this page !!!</h3>


</section>

<footer>
  <p>(c) Brendan Ryan GMIT</p>
</footer>
<script>
    
</script>
</body>
</html>