<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


<link rel="stylesheet" href="mystyle.css">


</head>
<body>
<header>
  <h2>Brendans Super Tasks</h2>
</header>

<section>
  <nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="task.html">Open Tasks</a></li>
        <li><a href="gmailapi.html">Tasks Email API</a></li>
        <li><a href="#">Project overview</a></li>
        <li><a href="/logout">Logout</a></li>

    </ul>
  </nav>
  
  <tasks>
    <div id="create-update" style="display:none">
        <h2>create-edit</h2>
        <table id="createUpdateForm">


            <tr>
                <td>ID</td>
                <td><input type="hidden" input name="ID">*System Generated*</td>
            </tr>
            <tr>
                <td>Title</td>
                <td><input type="text" name="Title"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" name="Description"></td>
            </tr>
            <tr>    
                <td>Category</td>
                <td><input type="text" name="Category"></td>
            </tr>
            <tr>    
                <td>Priority</td>
                <td><input type="text" name="Priority"></td>
            </tr>
            <tr>    
                <td>Status</td>
                <td><input type="text" name="Status"></td>
            </tr>
            <tr>
                <td></td><td>
                    <button id="create-button" onclick="doCreate()">Create</button>     
                    <button id="update-button" onclick="doUpdate()">update</button>
                </td>
            </tr>
        </table>
    </div>
    <div id="display">
        <h2>My Open Tasks</h2>
        <p>These are all my open tasks extracted from the MySql database - you can add edit or delete!</p>
        <button onClick="showCreate()">Create</button>
        <table id="taskTable" class="table">
            <tr>
                <th>ID</th>
                <th>DateAdded</th>
                <th>Title</th>
                <th>Description</th>
                <th>Category</th>
                <th>Priority</th>
                <th>Status</th>
                <th></th><th></th>
            </tr>
            
        </table>

    </div>




  </tasks>
</section>

<footer>
  <p>(c) Brendan Ryan GMIT</p>
</footer>
<script>
    function showCreate(){
        document.getElementById('display').style.display = "none"
        document.getElementById('update-button').style.display = "none"
        document.getElementById('create-button').style.display = "block"
        document.getElementById('create-update').style.display = "block"

    }
    function showUpdate(thisElem){
        var rowElement = thisElem.parentNode.parentNode;
        task = readtaskFromRow(rowElement)
        populateForm(task)

        document.getElementById('display').style.display = "none"
        document.getElementById('update-button').style.display = "block"
        document.getElementById('create-button').style.display = "none"
        document.getElementById('create-update').style.display = "block"

    }
    function readtaskFromRow(rowElement){
        task = {}
        task.ID = rowElement.getAttribute("id");//CHECK THIS
        
        task.DateAdded = rowElement.cells[1].firstChild.textContent
        task.Title = rowElement.cells[2].firstChild.textContent
        task.Description = rowElement.cells[3].firstChild.textContent
        task.Category = rowElement.cells[4].firstChild.textContent
        task.Priority = rowElement.cells[5].firstChild.textContent
        task.Status = rowElement.cells[6].firstChild.textContent

        return task
        
    }
    function populateForm(task){
        var form = document.getElementById('createUpdateForm')

        
        form.querySelector('input[name="ID"]').value = task.ID
        //form.querySelector('input[name="ID"]').disabled=true
        //form.querySelector('input[name="DateAdded"]').value = task.DateAdded
        //form.querySelector('input[name="DateAdded"]').disabled=true
        
        form.querySelector('input[name="Title"]').value = task.Title
        form.querySelector('input[name="Description"]').value = task.Description
        form.querySelector('input[name="Category"]').value = task.Category 
        form.querySelector('input[name="Priority"]').value = task.Priority   
        form.querySelector('input[name="Status"]').value = task.Status  
          
        

    }
    function clearForm() {
            var form = document.getElementById('createUpdateForm')


            form.querySelector('input[name="ID"]').value = ''
            //form.querySelector('input[name="ID"]').disabled = false
            form.querySelector('input[name="Title"]').value = ''
            form.querySelector('input[name="Description"]').value = ''
            form.querySelector('input[name="Category"]').value = ''
            form.querySelector('input[name="Priority"]').value = ''
            form.querySelector('input[name="Status"]').value = '' 
        }



    function doCreate(){
        console.log("in doCreate")
        task= gettaskFromForm()
        console.log(task)
        $.ajax({
            url:"http://127.0.0.1:5000/task",
            data:JSON.stringify(task),
            method:"POST",
            dataType:"JSON",
            contentType: "application/json; charset=utf-8",
            success:function(result){
                console.log(result) 
                addtaskToTable(task)
                showDisplay()
                clearForm()

            },
            error:function(xhr,status,error){
                console.log("error"+error)
            }
        })
       
    }
    function doUpdate(){
        task = gettaskFromForm()
        updateServer(task)
        
    }
    function updateServer(task){
       $.ajax({
            url: "http://127.0.0.1:5000/task/"+task.ID,
            //url: "/task/"+task.ID,
            data: JSON.stringify(task),
            method: "PUT",
            dataType: "JSON",
            contentType: "application/json; charset=utf-8",
            success: function (result) {
                console.log(result)
                updateTableRow(task)
                showDisplay()
                clearForm()

            },
            error: function (xhr, status, error) {
                console.log("error" + error)
            }
        })
    }

    function updateTableRow(task){
        rowElement = document.getElementById(task.ID)
        rowElement.cells[1].firstChild.textContent = task.DateAdded
        rowElement.cells[2].firstChild.textContent = task.Title
        rowElement.cells[3].firstChild.textContent = task.Description
        rowElement.cells[4].firstChild.textContent = task.Category
        rowElement.cells[5].firstChild.textContent = task.Priority
        rowElement.cells[6].firstChild.textContent = task.Status




        //console.log("updating table")
    }
    function gettaskFromForm(){
        var form = document.getElementById('createUpdateForm')

        var task = {}
        
        task.ID = form.querySelector('input[name="ID"]').value
        task.Title = form.querySelector('input[name="Title"]').value
        task.Description = form.querySelector('input[name="Description"]').value
        task.Category = form.querySelector('input[name="Category"]').value
        task.Priority =form.querySelector('input[name="Priority"]').value
        task.Status = form.querySelector('input[name="Status"]').value
        return task
    }


    
     function showDisplay() {
            document.getElementById('display').style.display = "block"
            document.getElementById('create-update').style.display = "none"

        }

    function populateTable(){
        //ajax getAll
       $.ajax({
           url:'http://127.0.0.1:5000/task',
           method:'GET',
           datatype:'JSON',
           success:function(results){
                for (task of results){
                     addtaskToTable(task)
                }
           },
           error:function (xhr,status,error){
               console.log ("error "+error +" code:"+status)
           }

       })
       
    }
    function addtaskToTable(task){
        //console.log("working so far")
        tableElem = document.getElementById("taskTable")
        rowElem = tableElem.insertRow(-1)
        rowElem.setAttribute("id", task.ID)//check
        cell1 = rowElem.insertCell(0)
        cell1.innerHTML = task.ID
        cell2 = rowElem.insertCell(1)
        cell2.innerHTML = task.DateAdded
        cell3 = rowElem.insertCell(2)
        cell3.innerHTML = task.Title
        cell4 = rowElem.insertCell(3)
        cell4.innerHTML = task.Description
        cell5 = rowElem.insertCell(4)
        cell5.innerHTML = task.Category
        cell6 = rowElem.insertCell(5)
        cell6.innerHTML = task.Priority
        cell7 = rowElem.insertCell(6)
        cell7.innerHTML = task.Status
        cell8 = rowElem.insertCell(7)
        cell8.innerHTML = '<button onclick="showUpdate(this)">Update</button>'
        cell9 = rowElem.insertCell(8)
        cell9.innerHTML = '<button onclick="doDelete(this)">delete</button>'
         }


function doDelete(r){
var tableElement = document.getElementById('taskTable');
var rowElement = r.parentNode.parentNode;
var index = rowElement.rowIndex;
deletetaskAjax(rowElement.getAttribute("id"));
tableElement.deleteRow(index);
}



function deletetaskAjax(ID){

//console.log(JSON.stringify('deleting '+id));
$.ajax({
    "url": "http://127.0.0.1:5000/task/"+encodeURI(ID),
    "method":"DELETE",
    "data":"",
    "dataType": "JSON",
    contentType: "application/json; charset=utf-8",
    "success":function(result){
        //console.log(result);
          
    },
    "error":function(xhr,status,error){
        console.log("error: "+status+" msg:"+error);
    }
});
} 




    populateTable()
</script>
</body>
</html>